MQTT_USER=iiot
MQTT_PASSWORD=demo_password
MQTT_HOST=mosquitto
MQTT_PORT=1883
MQTT_CLIENT_ID_PREFIX=iiot-demo
POSTGRES_USER=iiot
POSTGRES_PASSWORD=iiot_password_change_me
POSTGRES_DB=iiot
PGHOST=timescaledb
PGPORT=5432
PGDATABASE=iiot
PGUSER=iiot
PGPASSWORD=iiot_password_change_me
SITE=demo-site
LINE=packaging-line-1
ASSET_ID=edge-pump-01
MODBUS_HOST=modbus_sim
MODBUS_PORT=1502
MODBUS_UNIT_ID=1
COLLECT_INTERVAL_MS=1000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change_me_now
